h1 {
  margin: 0;
  font-family: 'Kirang Haerang', cursive;
  font-size: 3em;
  color: #DE8971;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.center {
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #DE8971;
}

h3 {
  font-family: 'Viaoda Libre', cursive;
  color: #7B6079;
  font-weight: bold;
}

a:link {
  color: #184D47;
}

a:visited {
  color: #184D47
}

a:hover {
  color: #C64756;
}

.topContainer {
  background-color: #A7D0CD;
  height: 100vh;
  min-height: 700px;
  padding: 0;

}

.transistion-gradient {
  height: 100px;
  background: linear-gradient(#A7D0CD, white);
}

.midContainer {
  position: relative;
  top: -100px;
}

.bottomContainer {
  background-color: #A7D0CD;
  margin: 0;
  padding: 50px 0 20px;
}

.emphasis {
  font-style: italic;
  margin-right: 5px;
}

.bottom-cloud {
  position: absolute;
  right: 60%;
}

.top-cloud {
  position: relative;
  left: 20%;
}

.mountain {
  width: 600px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  bottom: 0;
}

.blurb {
  margin: 0;
}

.profile-img {
  width: 200px;

}

.py-img {
  width: 50%;
  max-width: 200px;
  float: left;
  margin-right: 30px;
}

.ml-img {
  width: 50%;
  max-width: 200px;
  float: right;
  margin-right: 30px;
}

.inner {
  padding-top: 200px;
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}

.mid-divide {
  border-style: dotted none none none;
  border-width: 10px;
  width: 10%;
  color: #A7D0CD;
  margin: 100px auto;
  opacity: .4;
}

.copyright {
  padding: 20px 0;
  color: white;
}

.footer-link {
  margin: 0 20px;
}

.btn {
  background: #AAD8D3;
  background-image: -webkit-linear-gradient(top, #AAD8D3, #00ADB5);
  background-image: -moz-linear-gradient(top, #AAD8D3, #00ADB5);
  background-image: -ms-linear-gradient(top, #AAD8D3, #00ADB5);
  background-image: -o-linear-gradient(top, #AAD8D3, #00ADB5);
  background-image: linear-gradient(to bottom, #AAD8D3, #00ADB5);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 60px auto;
}

.btn:hover {
  background: #98DED9;
  text-decoration: none;
}

.contact-msg {
  margin: 40px auto 60px;
  width: 50%
}

.desc {
  width: 50%;
  margin: 25px auto;
}

.icon {
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
}

.skill-header {
  text-decoration: underline;
}
